/*********** 颜色 ***********/
$primary-color: #F76B1C;

$background-color: #212121; // 背景颜色
$white-color: #FFFFFF; // Btn文字颜色、弹窗背景颜色
$black-color: #000;
$prompt-color: #9a9998; // 提示信息的字体颜色
$prompt-bg-color: #313131; // 提示的背景颜色

/************* 字体大小 *******************/
$extra-large-font-size: 24px; // h1 主标题
$large-font-size: 18px; // h2 标题
$medium-font-size: 16px; // h3 小标题
$small-font-size: 14px; // h4 正文
$extra-small-font-size: 12px; // h5 辅助字体

/********** 长度 ***********/
$border-radius: 10px;
$common-padding: 20px;